:root {
  --shadow-color:rgba(0, 0, 0, 0.15);
  --backdor-color:rgba(0, 0, 0, 0.2);
  --animation-time: 250ms;
  --bezier-function:cubic-bezier(0.4, 0, 0.2, 1);
  --pramary-icon-color: #afb1b8;
  --secondery-icon-color: #fff;
  --pramary-ivon-color-bottom: rgba(255, 255, 255, 0.1);
  --background-color: #fff;
  --pramiry-color: #757575;
  --secondory-color: #212121;
  --secondory-color-title:#fff;
  --company-color: #2196F3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --pramiry-button-color: #fff;
  --secondory-button-color: #212121;
  --pramiry-button-background-color: #2196F3;
  --secondory-button-background-color: #f5f4fa;
}

body {
  color: var(--pramiry-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.link {
  color: inherit;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--company-color);
  fill: currentColor;
}

.contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: inherit;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    line-height: 1.14;
  }
}

.button {
  cursor: pointer;
  background-color: var(--pramiry-button-background-color);
  -webkit-box-shadow: 0px 4px 4px var(--shadow-color);
          box-shadow: 0px 4px 4px var(--shadow-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
}
.button__text {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.title {
  color: var(--secondory-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}
.title--center {
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .title--center {
    margin-bottom: 30px;
  }
}

.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__cover {
  color: var(--company-color);
}

.list-cards {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: auto;
}
@media screen and (min-width: 768px) {
  .list-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .list-cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .list-cards__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-cards__card {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .list-cards__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.list-social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.link-social {
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  fill: var(--pramary-icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.link-social:hover, .link-social:focus {
  background-color: var(--company-color);
  fill: var(--secondery-icon-color);
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.form__input {
  padding: 11px 11px 11px 32px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form__comment {
  resize: none;
  height: 120px;
}
.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__checkbox-icon {
  top: 0px;
  left: 12px;
}

.checkbox {
  position: relative;
}
.checkbox__icon {
  position: absolute;
  border: 2px solid var(--secondory-color);
  border-radius: 4px;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--company-color);
  border: none;
}

.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
}
.button-close:hover, .button-close:focus {
  fill: var(--company-color);
}

.menu-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.menu-button__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
}
.menu-button:focus .menu-button__icon, .menu-button:hover .menu-button__icon {
  fill: var(--company-color);
}
@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav {
    gap: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    gap: 93px;
  }
}
.header__list {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__link {
  position: relative;
  padding-top: 33px;
  padding-bottom: 31px;
  color: var(--secondory-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__link::after {
  display: block;
  position: absolute;
  bottom: 0px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--company-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  content: "";
}
.header__link:hover::after, .header__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header__link--active {
  position: relative;
  padding-top: 33px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--company-color);
}
.header__link--active::after {
  display: block;
  position: absolute;
  bottom: 0px;
  background-color: var(--company-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  content: "";
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    padding: 16px 0;
  }
}
.header__list-contact {
  display: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  fill: currentColor;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list-contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33px;
  padding-bottom: 31px;
  gap: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact {
    padding: 5px 0px;
  }
}

.hero {
  border: 1px solid #ECECEC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 118px 0;
  background-color: #2F303A;
}
@media screen and (min-device-pixel-ratio: 2), screem and (-webkit-min-device-pixel-ratio: 2), screem and (min-resolution: 192dpi), screem and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-image@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-image@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-image-480.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-image-480.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-image-768.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-image-768.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
.hero__title {
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    margin-left: 189px;
    margin-right: 189px;
  }
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}
.hero__button {
  display: block;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
}
.hero__button-text {
  padding: 10px 32px;
}

.features {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;
  }
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}
.features__title {
  margin-bottom: 10px;
  color: var(--secondory-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  line-height: 1.71;
}

.development {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .development {
    display: none;
  }
}
.development__item {
  position: relative;
}
.development__label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.development__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--secondory-color-title);
}

.employee {
  background-color: #F5F4FA;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .employee {
    padding: 94px 0;
  }
}
.employee__cart {
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .employee__cart {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .employee__cart {
    width: 270px;
  }
}
.employee__label {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .employee__label {
    padding-bottom: 24px;
  }
}
.employee__title {
  margin-bottom: 10px;
  color: var(--secondory-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.employee__text {
  line-height: 1.71;
}
.employee__list {
  margin-top: 16px;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.clients__item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
}
@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  fill: var(--pramary-icon-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--company-color);
  fill: var(--company-color);
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__item {
  margin-bottom: 9px;
}
.footer__text {
  color: #fff;
  font-style: inherit;
  font-style: normal;
}
.footer__link-social {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .footer__contact {
    text-align: center;
    margin-bottom: 60px;
  }
}
.footer__logo {
  display: block;
  color: #fff;
  margin-bottom: 20px;
}
.footer__title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .footer__social {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
  }
}
.footer__subscription {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .footer__subscription {
    text-align: center;
  }
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__input {
  color: #fff;
  padding: 11px;
  background-color: #2F303A;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 50px;
}
@media screen and (min-width: 470px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 12px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__button {
    margin-top: 12px;
  }
}
.footer__icon {
  margin-left: 10px;
  fill: #fff;
}

.backdoor {
  position: fixed;
  opacity: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--backdor-color);
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .backdoor {
    padding: 93px 15px;
  }
}

.modal {
  position: absolute;
  -webkit-transition-property: border-color, visibility;
  transition-property: border-color, visibility;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
.modal__form {
  margin: 40px;
}
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}
.modal__field {
  position: relative;
  margin-bottom: 10px;
}
.modal__label {
  display: block;
  margin-bottom: 4px;
}
.modal__input {
  cursor: pointer;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--company-color);
}
.modal__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  position: absolute;
  left: 12px;
  top: 28px;
  cursor: pointer;
}
.modal__input:hover ~ .modal__icon, .modal__input:focus ~ .modal__icon {
  fill: var(--company-color);
}
.modal__link {
  color: var(--company-color);
  cursor: pointer;
}
.modal__buttom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}
.modal__checkbox {
  margin-bottom: 30px;
}
.modal__checkbox-icon {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
}
.modal__text {
  text-align: center;
  line-height: 1.71;
  margin-left: 18px;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .modal__text {
    font-size: 12px;
    line-height: 1.16;
  }
}
.modal__comment {
  margin-bottom: 10px;
}
.modal__button-close {
  position: absolute;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  cursor: pointer;
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--company-color);
}

.project {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .project {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.project__list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .project__list-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__list-button {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project__list-button {
    margin-bottom: 50px;
  }
}
.project__button {
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  color: var(--secondory-button-color);
  background-color: var(--secondory-button-background-color);
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}
.project__button-text {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.project__button:hover, .project__button:focus {
  background-color: var(--pramiry-button-background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project__button:hover .project__button-text, .project__button:focus .project__button-text {
  color: var(--pramiry-button-color);
}
.project__list-cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project__card {
  position: relative;
  overflow: hidden;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  background-color: var(--background-color);
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .project__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__card {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .project__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.project__card:focus, .project__card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link {
  overflow: hidden;
  text-decoration: none;
}
.project__description {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  background-color: rgba(33, 150, 243, 0.9);
}
.project__description-text {
  display: block;
  font-size: 18px;
  line-height: 1.55em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 63px 24px;
}
@media screen and (max-width: 767px) {
  .project__description-text {
    margin: 77px 24px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .project__description-text {
    margin: 49px 24px;
  }
}
.project__link:hover .project__description, .project__link:focus .project__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.project__text {
  position: relative;
  z-index: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  background-color: var(--background-color);
}
.project__title {
  margin-bottom: 4px;
  color: var(--secondory-button-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__subtitle {
  color: var(--pramiry-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: scroll;
  padding: 48px 40px;
  z-index: 999;
}
.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
}
.mobile-menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--bezier-function);
          transition-timing-function: var(--bezier-function);
}
.mobile-menu__button-close:focus, .mobile-menu__button-close:hover {
  fill: var(--company-color);
}
.mobile-menu__list-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__list-contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 64px;
}
.mobile-menu__list-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--company-color);
}
.mobile-menu__list-social :not(:last-child) ::after {
  content: " ";
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--secondory-color);
}
.mobile-menu__number {
  font-size: 34px;
  color: var(--company-color);
}
.mobile-menu__email {
  text-decoration: none;
  color: var(--pramiry-color);
}/*# sourceMappingURL=main.css.map */