.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        fill: $company-color;
    }
}