.checkbox{
    position: relative;
    &__icon {
        position: absolute;
        border: 2px solid $secondory-color;
        border-radius: 4px;
    }
    &__input:checked + &__icon {
            background-color: $company-color;
            border: none;
        }
}