.clients{
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__list{
        display: flex;
        gap: 30px;
        flex-wrap: nowrap;
        justify-content: center;
        @media screen and (max-width:1199px) {
            flex-wrap: wrap;
        }
    }
    &__item{
        @media screen and (max-width: 480px) {
            flex-basis: calc((100% - 30px)/2);
        }
        @media screen and (max-width: 768px) {
            flex-basis: calc((100% - 60px)/3);
        }
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        
        transition-property: fill, border-color;
        transition-duration: 250ms;
        transition-timing-function: var(--bezier-function);
        
        fill: var(--pramary-icon-color);
        
        width: 170px;
        height: 92px;
        
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    }
    &__link:hover,
    &__link:focus {
        border-color: var(--company-color);
        fill: var(--company-color);
    }
}