.clients{
    padding-top: 94px;
    padding-bottom: 94px;

    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        
        transition-property: fill, border-color;
        transition-duration: 250ms;
        transition-timing-function: var(--bezier-function);
        
        fill: var(--pramary-icon-color);
        
        width: 170px;
        height: 92px;
        
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    }
    &__link:hover,
    &__link:focus {
        border-color: var(--company-color);
        fill: var(--company-color);
    }
}