.development {
    padding-top: 94px;
    padding-bottom: 94px;
    &__item{
        position: relative;
    }
    &__label{
        position: absolute;
        bottom: 0px;
        left: 0px;
        
        padding-top: 27px;
        
        background-color: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;
    }
    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14em;
        text-transform: uppercase;
        color: var(--secondory-color-title);
    }
}