.employee {
    background-color: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;

    &__cart{
        background-color: var(--background-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__label{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__title{
        margin-bottom: 10px;

        color: var(--secondory-color);

        font-weight: 500;
        font-size: 16px;

        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    &__text{
        line-height: 1.71;
    }
    &__list{
        margin-top: 16px;
    }
}