.features {
    padding-top: 94px;
    padding-bottom: 0px;
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-bottom: 30px;
        
        width: 270px;
        height: 120px;
        
        background: #F5F4FA;
        border-radius: 4px;
    }
    &__title{
        margin-bottom: 10px;
            
        color: var(--secondory-color);
            
        font-weight: 700;
        font-size: inherit;
            
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__text{
        line-height: 1.71em;
    }
}