.link {
    color: inherit;

    transition-property: color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--bezier-function);

    font-size: inherit;

    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--company-color);
    fill: currentColor;
}