.link-social{
    transition-property: fill, background-color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--bezier-function);
    fill: var(--pramary-icon-color);
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover,
    &:focus{
        background-color: var(--company-color);
        fill: var(--secondery-icon-color);
        }
}