.list-social{
    display: flex;
    // justify-content: center;
    gap: 10px;

    &__item {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        // background-color: $background-color;
    }
}