.list-cards{
    align-items: baseline;
    height: auto;
    @media screen and (min-width: 768px){
        flex-wrap: wrap;
    }
    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
    }
    &__card{
        @media screen and (min-width:768px) {
            width:calc((100% - 30px)/2);
        }
        @media screen and (min-width:1200px) {
            width: calc((100% - 90px)/4);
        }
    }
    &__card:not(:last-child){
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
}