.mobile-menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: scroll;
    z-index: 999;
    &__blok{
        margin: 40px 25px;
    }
    &.is-open{
        display: block;
    }
    &__button-close{
        position: absolute;
        top: 10px;
        right: 15px;
        transition-property: fill;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--bezier-function);
        &:focus,
        &:hover{
            fill: var(--company-color);
        }
    }
    &__list-nav{
        margin-bottom: 302px;
    }
    &__list-item{
        &:not(:last-child){
            margin-bottom: 32px;
        }
    }
    &__list-contact{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 64px;
    }
    &__list-social{
        display: inline-flex;
        flex-wrap: wrap;
        gap:10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        color: var(--company-color);
        :not(:last-child){
            ::after{
                content: ' ';
                border: 1px solid rgba(33, 33, 33, 0.2);
                margin-left: 10px;
            }
        }
    }
    &__link{
        font-size: 40px;
        font-weight: 500;
        line-height: 1.17;
        color: var(--secondory-color);
    }
    &__number{
        font-size: 34px;
        color: var(--company-color);
    }
    &__email{
        text-decoration: none;
        color: var(--pramiry-color);
    }
}