.modal{
    position: absolute;

    transition-property: border-color, visibility;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--bezier-function);

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 3;

    width: 528px;
    height: 581px;

    background-color: var(--background-color);

    &__form{
        margin: 40px;
    }
    &__title{
        margin-bottom: 12px;
            
        font-size: 20px;
        line-height: 1.15;
    }
    &__field{
        position: relative;
        margin-bottom: 10px;
    }
    &__label{
        display: block;
        margin-bottom: 4px;
    }
    &__input{
        cursor: pointer;
        transition-property: border-color;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--bezier-function);
    }
    &__input:hover,
    &__input:focus {
        border-color: var(--company-color);
    }
    &__icon{
        transition-property: fill;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--bezier-function);
        
        position: absolute;
        left: 12px;
        top: 28px;
        
        cursor: pointer;
    }
    &__input:hover ~ &__icon,
    &__input:focus ~ &__icon {
        fill: var(--company-color);
    }
    &__link {
        color: var(--company-color);
        cursor: pointer;
    }
    &__buttom {
        display: block;
    
        margin-left: auto;
        margin-right: auto;
    
        width: 200px;
        height: 50px;
    }
    &__checkbox{
        margin-bottom: 30px;
    }
    &__checkbox-icon{
        position: absolute;
        top: 0px;
        left: 12px;
    }
    &__text{
       text-align: center;
       cursor: pointer;
    }
    &__comment{
        margin-bottom: 10px;
    }
    &__button-close{
        position: absolute;
        border-radius: 50%;
        right: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
        background-color: var(--background-color);
        cursor: pointer;
    }
    &__button-close:hover, 
    &__button-close:focus {
        fill: var(--company-color);
    }
}