.project{
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__list-button{
        justify-content: center;
        gap: 8px;
        margin-bottom: 56px;
        @media screen and (max-width: 767px) {
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1199px) {
            margin-bottom: 30px;
        }
    }
    &__button {
        transition-property: background-color, box-shadow;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--bezier-function);

        color: var(--secondory-button-color);
        background-color: var(--secondory-button-background-color);

        background-color: #F5F4FA;
        border-radius: 4px;
        padding: 6px 22px;
        border: none;
    }
    &__button-text {
        transition-property: color;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--bezier-function);

        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        
        text-align: center;
        letter-spacing: 0.03em;
        
        color: #212121;
    }
    &__button:hover,
    &__button:focus{
        background-color: var(--pramiry-button-background-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    &__button:hover &__button-text,
    &__button:focus &__button-text{
        color: var(--pramiry-button-color);
    }
    &__list-cards{
        flex-wrap: wrap;
    }
    &__card{
        position: relative;
        overflow: hidden;
        transition-property: box-shadow;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--bezier-function);
            
        background-color: var(--background-color);
        border: 1px solid #EEEEEE;
        @media screen and (min-width:768px) {
            width: calc((100% - 30px)/2);
        }    
        @media screen and (min-width:1200px) {
            width: calc((100% - 60px)/3);
        }
    }
    &__card:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__card:focus,
    &__card:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &__link{
        overflow: hidden;
        text-decoration: none;
    }
    &__description{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: var(--animation-time);
        transition-timing-function: var(--bezier-function);
            
        background-color: rgba(33, 150, 243, 0.9);
    }
    &__description-text{
        display: block;
        font-size: 18px;
        line-height: 1.55em;
        
        letter-spacing: 0.03em;
        
        color: #FFFFFF;
        
        margin: 63px 24px;
        @media screen and (max-width: 767px) {
            margin: 77px 24px;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            margin: 49px 24px;
        }
    }
    &__link:hover &__description,
    &__link:focus &__description {
        transform: translateY(0%);
    }
    &__text{
        position: relative;
        z-index: 1;
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
        background-color: var(--background-color);
    }
    &__title{
        margin-bottom: 4px;
        color: var(--secondory-button-color);
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    
        letter-spacing: 0.06em
    }
    &__subtitle{
        color: var(--pramiry-color);
        
        font-size: 16px;
        
        line-height: 1.8;
        letter-spacing: 0.03em;
    }
}