.title {
    // margin-bottom: 50px;

    color: var(--secondory-color);

    font-weight: 700;
    font-size: 36px;

    line-height: 1.16;
    letter-spacing: 0.03em;

    &--center{
        text-align: center;
    }
}