$pramary-icon-color:#AFB1B8;
$secondery-icon-color:#fff;
$pramary-ivon-color-bottom:rgba(255, 255, 255, 0.1);

$background-color: #FFF;
$pramiry-color: #757575;
$secondory-color:#212121;
$company-color:#2196F3;

$footer-contact-color: rgba(255, 255, 255, 0.6);

$pramiry-button-color: #fff;
$secondory-button-color: #212121;
$pramiry-button-background-color: #2196F3;
$secondory-button-background-color: #F5F4FA;